<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zendesk.unity" >

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:theme="@style/ZendeskSdkTheme">
        <activity
            android:name=".RateMyAppActivity"
            android:label="@string/title_activity_rate_my_app"
            android:theme="@style/ZendeskInvisible">
        </activity>
    </application>

</manifest>
